<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title> QR Generator </title>
</head>
<body>

    <!-- Load header -->
    <%- include("partials/head") %>

    <!-- Load form and QR code display -->
    <%- include("partials/form", { imgSrc }) %>

    <!-- Load history grid -->
    <%- include("partials/history", { history }) %>

    <!-- Icon resources -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>